#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  margin: 10dvh auto;
  gap: 4dvw;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

header h1 {
  font-size: 3rem;
}

header ion-icon {
  color: rgb(255, 70, 70);
  font-size: 4rem;
}

h2 {
  font-size: 2.7rem;
}

.score-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 10dvh 0 0;
}

.main-container {
  margin: 0 auto;
  width: 100%; 
  height: 80dvh;
  background-color: #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 1rem;
}

.main-container h2 {
  margin: .2rem;
}

.main-container-wrong {
  background-color: rgb(255, 70, 70);
}

.main-container-right {
  background-color: rgb(70, 255, 116);
}

.score-div {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.score-div h2 {
  font-size: 2rem;
}

.score-div span {
  font-size: 3.5rem;
  font-weight: 700;
}

.img-container {
  margin: 0 auto;
  height: 40%;
  width: 80%;
}

.country-flag {
  object-fit: scale-down;
  margin: 1rem auto 3rem;
  width: 100%;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.option-button {
  height: max-content;
  width: 100%;
}

.result-div {
  width: 80%;
  margin: 1rem auto;
  background-color: #333;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.result-div p {
  font-weight: 700;
  font-size: 1.1rem;
}

.modal-layout {
  background-color: #0000005d;
  height: 100dvh;
  width: 100dvw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-div {
  background-color: rgb(255, 70, 70);
  width: 60%;
  height: 60%;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.close-info-btn {
  position: fixed;
  top: 23.5dvh;
  right: 22dvw;

}

.info-div h3{
  font-size: 4rem;
}
.info-div ul li {
  font-size: 1.6rem;
  list-style: disc;
}

.info-div p {
  font-size: 2.5rem;
  font-weight: 500;
}

.more-info h4 {
  font-size: 1.3rem;
}

.more-info a {
  text-decoration: none;
}

.more-info ion-icon {
  color: #fff;
  font-size: 3rem;
  margin: 0 1rem;
}

.more-info ion-icon:hover {
  animation: rainbow 7s infinite;
}

@keyframes rainbow {
  0% { color: violet; }
  16.67% { color: indigo; }
  33.33% { color: blue; }
  50% { color: green; }
  66.67% { color: yellow; }
  83.33% { color: orange; }
  100% { color: red; }
}

@media (max-width: 600px) {
  header h1 {
    font-size: 2rem;
  }
  .main-container {
    height: 100%;
  }
  .main-container h2 {
    font-size: 2rem;
  }
  .score-div h2 {
    margin: 0;
  }
  .score-info {
    display: flex;
    flex-direction: column;
    margin: 0 0 3rem;
  }
  .result-div {
    flex-direction: column;
    gap: .2rem;
  }
  .next-button {
    margin: 0 0 .5rem;
  }
  .more-info span {
    font-size: 2rem;
    display: block;
  }
  .info-div {
    width: 70%;
    height: 80%;
    margin: 10dvh 0 0;
    padding: 0 3rem;
  }
}